
footer{
    background-color: #42428b;
    padding: 2vw;
    color: #baaeae;

}
footer a{
    color: #baaeae;
}
footer a:hover{
    color: #f0f0f0;
    text-decoration: none;

}


footer li{
    font-size: 14px;
}

footer img{
    max-width: 20px;
    margin: 10px;


}

.carousel-inner img {
      width: 100%;
      height: 90%;
  }
.brands img{
    max-height: 35px;
    margin: 10px;

}

.brands {
    margin:50px 0;
}

.products {
    margin-top: -50px;
}


.logo img{
    max-width: 90%;
    padding: 1vw;

    
}

.logo h1{
    font-weight: 800;
    
  background: -webkit-linear-gradient(#79448e, #333333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
.offers {
    min-height: 200px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
/*    opacity: 0.8;*/

}

.offer-blink{
    -webkit-animation: mymove 4s infinite; /* Chrome, Safari, Opera */
    animation: mymove 4s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {opacity: 0.1;}
}

/* Standard syntax */
@keyframes mymove {
    50% {opacity: 0.4;}
}

.offer-blink-rev{
    -webkit-animation: mymove 2s infinite; /* Chrome, Safari, Opera */
    animation: mymove 2s infinite;
}

.offers img{
    max-height: 100px;
    margin-top: 10%

    
}
.chain{
    border: 10px solid transparent;
    border-image: url(/img/chain.png) 20;
    border-image-repeat: stretch; 

}
    


.offer-blink-text {
      background: -webkit-linear-gradient(#79448e, #333333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    -webkit-animation: offer-blink-text 1s infinite;  Chrome, Safari, Opera 
    animation: offer-blink-text 1s infinite;
    
}
.offer-blink-text img{
    max-height: 100px;
    margin: auto;
  
}

/* Chrome, Safari, Opera */
@-webkit-keyframes offer-blink-text {
    50% {background: -webkit-linear-gradient(#79448e, #333333);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
}

/* Standard syntax */
@keyframes offer-blink-text {
    50% {background: -webkit-linear-gradient(#f72586, #c4a22f);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}    
    
/*
    50% {background: -webkit-linear-gradient(#a50750, #7797dd);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
*/
}


.special h4{
    background-color: black;
    color: #ffd803;
    padding: 5px;
    text-transform: uppercase;
    
}


